#textdomain
[textdomain]
    name="wesnoth-TOPGUN"
    path="data/add-ons/TOPGUN_Addon/translations"

[/textdomain]

# wmlscope: set export=no

#idef MULTIPLAYER

[binary_path]
    path="data/add-ons/TOPGUN_Addon"
[/binary_path]
{core/macros/}

{~add-ons/TOPGUN_Addon/animations.cfg}
[+units]
   {~add-ons/TOPGUN_Addon/units}
   {~add-ons/TOPGUN_Addon/movetypes}
[/units]
{~add-ons/TOPGUN_Addon/TopGunEra.cfg}
{~add-ons/TOPGUN_Addon/scenarious/}
[+images]
    {~add-ons/TOPGUN_Addon/images}
[/images]

#enddif
