#textdomain wesnoth-TOPGUN






####ABILITEIES#####



#define AIRCRAFTTG
    # Canned definition of the heal+4 ability to be included in an [abilities] clause.
    [dummy]
        id=airobiectTG
        name= _ "flying object"
        female_name= _ "flying object"
        description=  _ "flying object"
    [/dummy]
#enddef
#define NAVALSHIP
    [dummy]
        id=NAVALship
        name= _ "ship"
        female_name= _ "ship"
        description=  _ "ship"
    [/dummy]
#enddef

#define BOMBERAIRCRAFT

[dummy]
        id=BOMBERAIRCRAFT
        name= _ "Bomber"
        female_name= _ "Bomber"
        description=  _ "Bomber"
[/dummy]


#enddef


#define FUELUSAGE
    
    [dummy]
        id=FUELUSAGE
        name= _ "Fuel"
        female_name= _ "Fuel"
        description=  _ "Unit have Fuel"
        
    [/dummy]
#enddef

#define AIRBASE
    
    [dummy]
        id=AIRBASRE1
        name= _ "Airbase"
        female_name= _ "Airbase"
        description=  _ "Airbase can refull nearby aircraft (radius 1)"
        
    [/dummy]
#enddef

#define NAVALAIRCRAFT
    
    [dummy]
        id=NAVALAIRCRAFT
        name= _ "Navy Aricraft"
        female_name= _ "Navy Aricraft"
        description=  _ "Navy Air craft can land on Carrier Aircraft"
        
    [/dummy]
#enddef

#define STRATOTANKER
    
    [dummy]
        id=AIRTANKER
        name= _ "Air tanker"
        female_name= _ "Air tanker"
        description=  _ "Air tanker can reful other aircraft without air tankers (radius 1 HEX)"
        
    [/dummy]
#enddef




####SPECIALS#####



#define LONGRANGEMISSLE
    [chance_to_hit]
    id=Longrangemissle
        name= _ "Long range missle"
        description= _ "Long range missle"
        
        value=65
        cumulative=no
    [/chance_to_hit]
#enddef
#define MIDLLERANGEMISSLE
    [chance_to_hit]
    id=Midllerangemissle
        name= _ "Midlle range missle"
        description= _ "Midlle range missle"
        
        value=80
        cumulative=no
    [/chance_to_hit]
#enddef
#define SHORTRANGEMISSLE
    [chance_to_hit]
    id=SHORTrangemissle
        name= _ "Short range missle"
        description= _ "Short range missle"
        
        value=100
        cumulative=no
    [/chance_to_hit]
#enddef

#define AADAMAGE AAD

[damage]
    id=AADAMAGE
    name= _ "Anit Air"
    description= _ "Adds anti-air damage"
    cumulative=no
    add={AAD}
    [filter_opponent]
    ability=airobiectTG

    [/filter_opponent]

[/damage]


#enddef

#define ANTIBOMER AAD

[damage]
    id=ANTIBOMBER
    name= _ "Anti Bomber"
    description= _ "Adds damage when you fight with bomber"
    cumulative=no
    add={AAD}
    [filter_opponent]
    ability=BOMBERAIRCRAFT

    [/filter_opponent]

[/damage]


#enddef


