#textdomain wesnoth-TOPGUN
[unit_type]
    id=b2
    name="B-2 Spirit"
   movement=9
    hitpoints=80
    movement_type=aircraft
    image="units/b2.png"
    cost=60
    race=aircraft
    advances_to=null
    level=4
    experience=60
    canrecruit=yes
    usage=mixed figther
    [abilities]
     {ABILITY_SKIRMISHER}
     {BOMBERAIRCRAFT}
     {AIRCRAFTTG}
     {FUELUSAGE}
     [hides]
        id=STELTH
        name= _ "Stealth"
        female_name= _ "Stealth"
        description=  _ "Stealth"
        alert="You See This"
        affect_self=yes
        [filter] 
            [filter_location] 
                [not] 
                    [filter_adjacent_location] 
                        [filter_adjacent_location]
                            [filter_adjacent_location]
                                [filter_adjacent_location]
                                    [filter_adjacent_location]
                                        [filter]
                                            [not] 
                                                ability=STELTH 
                                                side=$side_number
                                            [/not]
                                            [not]
                                                side=$side_number
                                            [/not]
                                        [/filter]
                                    [/filter_adjacent_location]
                                [/filter_adjacent_location]
                            [/filter_adjacent_location]
                        [/filter_adjacent_location]
                    [/filter_adjacent_location]
                [/not]
            [/filter_location]
        [/filter]
    [/hides]
    [/abilities]
#ifdef TGUTILS
    {FUELATRIBUTE 13 b2}
#endif
    {ATTACKGPSBOMB "GBU-31 JDAM" 40 4}
    {ATTACKGPSBOMB "GBU-32 JDAM" 20 8}
    
[/unit_type]