#textdomain wesnoth-TOPGUN
[unit_type]
    id=msotek
    name="Sternum"
    movement=0
    hitpoints=170
    movement_type=crusierpart
    image="units/mostek.png"
    race=crusier
    cost=20
    advances_to=null
    level=10
    experience=60
    canrecruit=yes
    usage=archer
    [resistance]
    fire=110
    [/resistance]
    [abilities]
     {ABILITY_LEADERSHIP}
    [/abilities]

    {CRUISERROCKETDEF 40 3}
    {CRUISERBLASTERDEF 12 4}
    
    [attack]
        name=Rocket
        type=cold
        range=ranged
        damage=25
        number=5
        
        icon="attacks/rockemissle.png"
        [specials]
        {WEAPON_SPECIAL_FIRSTSTRIKE}
        [/specials]
    [/attack]
    [attack]
        name=Blaster
        type=cold
        range=melee
        damage=15
        number=6
        
        icon="attacks/blaster.png"
        [specials]
        {WEAPON_SPECIAL_FIRSTSTRIKE}
        [/specials]
    [/attack]
    [attack]
        name=Bombard Blaster
        type=fire
        range=ranged
        damage=30
        number=6
        
        icon="attacks/blaster.png"
        
    [/attack]
[/unit_type]