#textdomain wesnoth-TOPGUN
[unit_type]
    id=E7
    name="E-7 Wedgetail"
    movement=8
    hitpoints=85
    movement_type=aircraft
    image="units/e7wed.png"
    cost=35
    race=aircraft
    advances_to=null
    level=3
    experience=60
    canrecruit=yes
    usage=healer
    [abilities]
        {AIRCRAFTTG}
        {BOMBERAIRCRAFT}
        {FUELUSAGE}
        {RADARUSE}
    [/abilities]
#ifdef TGUTILS
    {RADAR 44 E7}
    {FUELATRIBUTE 17 E7}
#endif
    [attack]
        name=evasion
        type=pierce
        range=melee
        damage=0
        number=1
        pary=10%
        icon="attacks/avade.png"
    [/attack]
    
    
[/unit_type]