#textdomain wesnoth-TOPGUN
[unit_type]
    id=fa18hornet2
    name="F/A-18 Hornet"
    movement=16
    hitpoints=50
    movement_type=aircraft
    image="units/fa18.png"
    cost=24
    race=aircraft
    advances_to=null
    level=3
    experience=60
    canrecruit=yes
    usage=archer
    [abilities]
        {AIRCRAFTTG}
        {NAVALAIRCRAFT}
        {FUELUSAGE}
        {RADARUSE}
    [/abilities]
    #ifdef TGUTILS
    {RADAR 19 fa18hornet2}
    {FUELATRIBUTE 9 fa18hornet2}
    #endif
    
    {ATTACKSHORTRANGEMISSLE "AIM-9" 25 2}
    {ATTACKLONFRANGEMISSLE "aim120" 50 1}
    
    {AGMMISSLE "AGM-65" 20 2}

    [attack]
        name=Vulcan
        type=pierce
        range=melee
        damage=4
        number=9    
        icon="attacks/minigun.png"
    [/attack]
    [attack]
        name="aim-120"
        type=cold
        range=ranged
        damage=1
        number=1
        
        icon="attacks/rockemissle.png"
        [specials]
            
            {AADAMAGE 50}
                
            {LONGRANGEMISSLE}
        [/specials]
    [/attack]
    

    {ATTACKGPSBOMB "GBU-31 JDAM" 35 2}
    {ATTACKLASERBOMB "GBU-16 Paveway" 60 1}

[/unit_type]
