#textdomain wesnoth-TOPGUN
[unit_type]
    id=j10
    name="j-10 B"
    movement=16
    hitpoints=50
    movement_type=aircraft
    image="units/j10.png"
    cost=21
    race=aircraft
    advances_to=null
    level=3
    experience=60
    canrecruit=yes
    usage=archer
    [abilities]
        {AIRCRAFTTG}
    {FUELUSAGE}
    [/abilities]
    {FUELATRIBUTE 5 j10}

    
    {ATTACKMIDLLERANGEMISSLE PL-21 50 1}
    
    
    [attack]
        name=brimstone
        type=fire
        range=ranged
        damage=30
        number= 2
        accuracy=90% 
        icon="attacks/rockemissle.png"
    [/attack]

    [attack]
        name=Vulcan
        type=pierce
        range=melee
        damage=3
        number=9
        accuracy=30%
        icon="attacks/minigun.png"
    [/attack]

    

    [attack]
        name=Kab-500s
        type=fire
        range=bomb
        damage=35
        number=2   
        accuracy=100% 
        icon="attacks/bomba.png"
    [specials]
        {WEAPON_SPECIAL_MARKSMAN}
    [/specials]
    [/attack]

[/unit_type]
